<div>
  <h2><%= @title %></h2>

  <.form
    let={f}
    id={@id}
    for={@changeset}
    phx-target={@target}
    phx-change="validate"
    phx-submit="save">

    <%= label f, :text %>
    <%= text_input f, :text %>
    <%= error_tag f, :text %>

    <div>
      <%= submit "Save", phx_disable_with: "Saving..." %>
    </div>
  </.form>
</div>
